{% extends "board/layout.html" %}
{% load staticfiles %}
{% block content %}
<!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->


              <div class="row">
                  <div class="col-lg-9 main-chart">
                  
                  	<div class="row mtbox">
                  		<div class="col-md-2 col-sm-2 col-md-offset-1 box0">
                  			<div class="box1">
					  			<!-- <span class="li_heart"></span> -->
					  			<img src="{% static 'img/heartNoClick.png' %}" class="img-heart" width="75">
					  			<h3><input type="text" name="num" value="1" id="" class="num"
					  				 style="background-color:transparent;border:0 solid black;
					  				 text-align:center; width: 100px;" readonly /></h3>
                  			</div>
					  			<p>933 People liked your page the last 24hs. Whoohoo!</p>
                  		</div>
                  		<div class="col-md-2 col-sm-2 box0">
<!--                   			<div class="box1">
					  			<span class="li_cloud"></span>
					  			<h3>+48</h3>
                  			</div>
					  			<p>48 New files were added in your cloud storage.</p> -->
                  		</div>
                  		<div class="col-md-2 col-sm-2 box0">
                  			<div class="box1">
					  			<span class="li_news"></span>
					  			<h3>23</h3>
                  			</div>
					  			<p>You have 23 unread messages in your inbox.</p>
                  		</div>
                  		<div class="col-md-2 col-sm-2 box0">
<!--                   			<div class="box1">
					  			<span class="li_news"></span>
					  			<h3>+10</h3>
                  			</div>
					  			<p>More than 10 news were added in your reader.</p> -->
                  		</div>
                  		<div class="col-md-2 col-sm-2 box0">
                  			<div class="box1">
					  			<span class="li_data"></span>
					  			<h3>OK!</h3>
                  			</div>
					  			<p>Your server is working perfectly. Relax & enjoy.</p>
                  		</div>
                  	
                  	</div><!-- /row mt -->	
                  					
					
					<div class="row mt">
						<h1></h1>
						<div class="col-md-12 mt">
							<div class="content-panel">
								<table class="table table-hover">
									<h4><i class="fa fa-angle-right"></i> 자유 게시판</h4>
									<hr>
									<thead>
										<tr>
											<th>번호</th>
											<th>제목</th>
											<th>작성자</th>
											<th>작성날짜</th>
										</tr>
									</thead>
									{% for post in post_list %}
									<tbody>
										<tr>
											<td>{{ post.pk }}</td>
											<td>
												<a href="{% url "board:post_detail" post.pk %}">
												{{ post.title }} ({{ post.comments_count }})</a>
											</td>
											<td>{{post.author}}</td>
											<td>{{ post.created_at }}</td>
										</tr>
									</tbody>
									{% endfor %}
								</table>
								<p align="right"><a href="{% url "board:post_new" %}" class="btn btn-round btn-warning">
							 		게시글 쓰기
									 </a>
									 </p>
							</div><!--/content-panel -->
						</div><!-- /col-md-12 -->
					</div><!-- /row -->	
					
                  </div><!-- /col-lg-9 END SECTION MIDDLE -->
                  
                  
      <!-- **********************************************************************************************************************************************************
      RIGHT SIDEBAR CONTENT
      *********************************************************************************************************************************************************** -->                  
                  
                  <div class="col-lg-3 ds">
                        <!-- CALENDAR-->
                        <div id="calendar" class="mb">
                            <div class="panel green-panel no-margin">
                                <div class="panel-body">
                                    <div id="date-popover" class="popover top" style="cursor: pointer; disadding: block; margin-left: 33%; margin-top: -50px; width: 175px;">
                                        <div class="arrow"></div>
                                        <h3 class="popover-title" style="disadding: none;"></h3>
                                        <div id="date-popover-content" class="popover-content"></div>
                                    </div>
                                    <div id="my-calendar"></div>
                                </div>
                            </div>
                        </div><!-- / calendar -->
                      
                  </div><!-- /col-lg-3 -->

      <!--main content end-->

{% endblock %}

{% block script %}

	<script src="{% static 'js/sparkline-chart.js' %}"></script> 
	<script src="{% static 'js/zabuto_calendar.js' %}"></script>
	<script type="application/javascript">
        $(document).ready(function () {
            $("#date-popover").popover({html: true, trigger: "manual"});
            $("#date-popover").hide();
            $("#date-popover").click(function (e) {
                $(this).hide();
            });
        
            $("#my-calendar").zabuto_calendar({
                action: function () {
                    return myDateFunction(this.id, false);
                },
                action_nav: function () {
                    return myNavFunction(this.id);
                },
                ajax: {
                    url: "show_data.php?action=1",
                    modal: true
                },
/*                legend: [
                    {type: "text", label: "Special event", badge: "00"},
                    {type: "block", label: "Regular event", }
                ]*/
            });
        });
        
        
        function myNavFunction(id) {
            $("#date-popover").hide();
            var nav = $("#" + id).data("navigation");
            var to = $("#" + id).data("to");
            console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
        }

		$(function(){ 
			$('.img-heart').click(function(){ 
			var n = $('.img-heart').index(this);
			var num = $(".num:eq("+n+")").val();
			num = $(".num:eq("+n+")").val(num*1+1); 
			});
		}) 
 	</script>

{% endblock %}