{% extends "board/layout.html" %}

{% block content %}
	<h1></h1>
	<div class="col-md-12 mt">
		<div class="content-panel">
			<table class="table table-hover">
				<h4><i class="fa fa-angle-right"></i> 자유 게시판</h4>
				<hr>
				<thead>
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>작성자</th>
						<th>작성날짜</th>
					</tr>
				</thead>
				{% for post in post_list %}
				<tbody>
					<tr>
						<td>{{ post.pk }}</td>
						<td>
							<a href="{% url "board:post_detail" post.pk %}">
							{{ post.title }} ({{ post.comments_count }})</a>
						</td>
						<td>{{post.author}}</td>
						<td>{{ post.created_at }}</td>
					</tr>
				</tbody>
				{% endfor %}
			</table>
			<p align="right"><a href="{% url "board:post_new" %}" class="btn btn-round btn-warning">
		 		게시글 쓰기
				 </a>
				 </p>
		</div><!--/content-panel -->
	</div><!-- /col-md-12 -->
{% endblock %}