{% extends "board/layout.html" %}
{% block extra_head %}
<style>
	.post_photo {
		max-width: 80%;
	}
</style>
{% endblock %}
{% block content %}
	<!-- WEATHER-2 PANEL -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-sm-6 col-xs-6">
						<p>{{ post.title }}</p>
					</div>
					<div class="col-sm-6 col-xs-6 goright">
						<p class="small">{{ post.created_at }}</p>
					</div>
				</div>
			</div><!-- /weather-2 header -->
			<div class="panel-body">
			{% if post.photo %}				
 			<center><img src="{{ post.photo.url }}" class="post_photo" /></center>
			{% endif %}	
			<br>
				{{ post.content|linebreaks }}
				<p align="right">
				{% if post.author == request.user %}
				<a href="{{ post.get_edit_url }}" class="btn btn-theme">
				수정
				</a>
				<a href="{{ post.get_delete_url }}" class="btn btn-theme">
				삭제
				</a>
				{% endif %}
				</p>

			</div>
			</div>
		
	<hr>

	<ul>
		{% for comment in post.comment_set.all %}
		<li>{{comment.message}} &nbsp;
		by {{comment.author}} &nbsp;
		at {{comment.created_at}} &nbsp;
		{% if comment.author == request.user %}
		<a href="{{ comment.get_edit_url }}">
		수정
		</a>
		<a href="{{ comment.get_delete_url }}" class="text-danger">
		삭제
		</a>
		{% endif %}
		</li>
		{% empty %}
		<p>No comment here yet</p>
		{% endfor %}	
	</ul>

<br>
 

 <!--<h4 class="m-b-8">댓글 쓰기</h4>-->





		<div class="panel-footer">
		<p align="right">
		 <a href="{% url "board:comment_new" post.pk %}" class="btn btn-round btn-warning">
		 	댓글쓰기
		 </a>
		 <a href="{% url "board:index" %}" class="btn btn-round btn-warning ">
		 	목록으로
		 </a>
		 </p>
 	</div>
	</div><!--/col-md-4 -->

 {% endblock %}

