{% extends "board/layout.html" %}
{% block content %}
<h3>Q&A</h3>
<img src="\static\img\cookie_logo.png" width="15" height="20" />
<img src="\static\img\cookie_logo.png" width="15" height="20" />
<img src="\static\img\cookie_logo.png" width="15" height="20" />
<img src="\static\img\cookie_logo.png" width="15" height="20" />
<img src="\static\img\cookie_logo.png" width="15" height="20" />
<img src="\static\img\cookie_logo.png" width="15" height="20" />
<img src="\static\img\cookie_logo.png" width="15" height="20" />
<img src="\static\img\cookie_logo.png" width="15" height="20" />
<img src="\static\img\cookie_logo.png" width="15" height="20" />
<img src="\static\img\cookie_logo.png" width="15" height="20" />
<img src="\static\img\cookie_logo.png" width="15" height="20" />
<img src="\static\img\cookie_logo.png" width="15" height="20" />
<img src="\static\img\cookie_logo.png" width="15" height="20" />
<img src="\static\img\cookie_logo.png" width="15" height="20" />
<img src="\static\img\cookie_logo.png" width="15" height="20" />
<img src="\static\img\cookie_logo.png" width="15" height="20" />
<img src="\static\img\cookie_logo.png" width="15" height="20" />
<img src="\static\img\cookie_logo.png" width="15" height="20" />
<img src="\static\img\cookie_logo.png" width="15" height="20" />
<img src="\static\img\cookie_logo.png" width="15" height="20" />
<img src="\static\img\cookie_logo.png" width="15" height="20" />
<img src="\static\img\cookie_logo.png" width="15" height="20" />
<img src="\static\img\cookie_logo.png" width="15" height="20" />
<img src="\static\img\cookie_logo.png" width="15" height="20" />
<img src="\static\img\cookie_logo.png" width="15" height="20" />
<img src="\static\img\cookie_logo.png" width="15" height="20" />
<img src="\static\img\cookie_logo.png" width="15" height="20" />
<img src="\static\img\cookie_logo.png" width="15" height="20" />
<img src="\static\img\cookie_logo.png" width="15" height="20" />
<img src="\static\img\cookie_logo.png" width="15" height="20" />
<img src="\static\img\cookie_logo.png" width="15" height="20" />
<img src="\static\img\cookie_logo.png" width="15" height="20" />

{% endblock %}