<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>Cookie Company</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="/static/font-awesome/css/font-awesome.css" rel="stylesheet" />
        
    <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->

	  <div id="login-page">
	  	<div class="container">
	  	
		      <form class="form-login" method="post" action="">
		      {% csrf_token %}
		        <h2 class="form-login-heading">sign in now</h2>
		        <div class="login-wrap">
		        <table>
		           {{form.as_table}}
		        </table>
		            <label class="checkbox">
		                <span class="pull-right">
		                    <a data-toggle="modal" href="{% url "login" %}"> Forgot Password?</a>
		
		                </span>
		            </label>
		         <p align="right">
             <button class="btn btn-round btn-warning" type="submit"><i class="fa fa-lock"></i> SIGN IN</button>
               <a href="{% url "board:index" %}" class="btn btn-round btn-warning ">방문하기</a>
               </p>
		            <hr>
		         
		            <div class="registration">
		                Don't have an account yet?<br/>
		                <a class="" href="/accounts/signup">
		                    Create an account
		                </a>
		            </div>
		
		        </div>
		
		      </form>	  	
	  	
	  	</div>
	  </div>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script type="text/javascript" src="/static/js/jquery.backstretch.min.js"></script>
    <script>
        $.backstretch("/static/img/snp.jpg", {speed: 500});
    </script>


  </body>
</html>
